pandas==1.3.5
openpyxl==3.0.10
scikit-learn==1.1.3
xgboost==1.7.1
seaborn==0.12.2
matplotlib==3.6.2
lightgbm==3.3.4
zipfile36==0.1.3
tk==0.1.0
Pillow==9.4.0
pandastable==0.13.0
pytest-mock==3.7.0
tk==0.1.0
